.portfolio {
  margin: 6em var(--main-margin);
}
.portfolio > .title {
  margin: 0.2em 0;
  margin-bottom: 0.45em;
}
.portfolio .projects .navProjects .active {
  color: var(--brand-color) !important;
  font-weight: 600 !important;
  border-bottom: 2px solid var(--brand-color) !important;
}
.portfolio .projects .navProjects ul {
  display: flex;
}
.portfolio .projects .navProjects ul li {
  margin-right: 2em;
}
.portfolio .projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio .projectsContainer .singleProject {
  /* width: calc(33.33333% - 1em);
  margin: 0.5em;
  margin-left: 0;
  margin-right: 1em;
  aspect-ratio: 1/1; */
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.portfolio .projectsContainer .singleProject .image {
  /* background: var(--brand-color); */

  width: 100%;
  height: 120px;
  /* background: red; */
  overflow: hidden;
}
.portfolio .projectsContainer .singleProject .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: red; */
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly {
  padding: 10px;
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly h3 {
  color: var(--title-2-color) !important;
  font-size: 1.3em !important;
  font-weight: 600 !important;
  /* background: red; */
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly h6 {
  color: var(--brand-color) !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  /* background: red; */
  margin: 0.5em 0;
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly .madeWith {
  /* margin: 0; */
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly .madeWith p {
  /* color: var(--brand-color) !important; */
  font-size: 0.8em !important;
  font-weight: 500 !important;
  /* background: red; */
  margin: 0;

  line-height: 1;
}

.portfolio .projectsContainer > div {
  width: calc((100% / 4) - 1em);
  margin: 0.5em;
  margin-left: 0;
  margin-right: 1em;
  /* border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer; */
}

.portfolio .projectsContainer .singleProject .veiwProjectOverly .viewButton {
  height: max-content;
  align-items: center;
  display: flex;
  padding: 5px 0px;
  color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxColor);
  cursor: pointer;
  border-radius: 5px;
  /* transform: translateY(100%); */
  transition: 0.5s;
  transition-delay: 0.2s;
  border: 1px solid var(--brand-color);
  margin-top: 10px;
}
.portfolio
  .projectsContainer
  .singleProject:hover
  .veiwProjectOverly
  .viewButton {
  transform: translateY(0%);
}
.portfolio .projectsContainer .singleProject .veiwProjectOverly .viewButton a {
  font-size: calc(1rem + 0.3vw);
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
}

.portfolio
  .projectsContainer
  .singleProject
  .veiwProjectOverly
  .viewButton
  img {
  width: 1em;
  height: 1.5em;
  color: var(--brand-color);
  margin-right: 0.5em;
  transition: 0.5s;
}

.box.h3-tsest {
  padding: 5em;
}

@media (max-width: 1000px) {
  .portfolio .projectsContainer > div {
    width: calc((100% / 2) - 1em);
    margin: 0.5em;
  }
}
@media (max-width: 750px) {
  .portfolio .projectsContainer > div {
    width: calc(100% - 1em);
    margin: 0.5em 3em;
  }
}
@media (max-width: 650px) {
  .portfolio .projectsContainer > div {
    width: calc(100% - 1em);
    margin: 0.5em;
  }
}

.portfolio .elementOut {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 0.7s ease-in-out;
}
.portfolio .elementIn {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: opacity 1.5s ease-in-out, transform 0.7s ease-in-out;
}
