.service-card {
  width: calc(33.3333% - 2em);
  margin: 1em;
  border-radius: 10px;
  /* opacity: 0; */
  transition: color 0.7s ease-in-out, transform 0.4s ease-in-out;
}
.service-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  /* transition: transform 0.5s ease-in-out; */
}
.service-card .box * {
  transition: color 0.7s ease-in-out;
}
.service-card .image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .service-card .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 66, 29, 0.136);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
} */
.service-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.service-card:nth-child(1) .box {
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.service-card:nth-child(2) .box {
  transform: translate3d(0%, -50%, 0);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.service-card:nth-child(3) .box {
  transform: translate3d(50%, 0, 0);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.service-card:nth-child(4) .box {
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.service-card .box {
  padding: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.service-card .content {
  padding: 1em;
  /* height: 100%; */
}
.service-card .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.service-card .box p {
  line-height: 1.5;
  font-size: 15px;
}
.service-card svg {
  fill: var(--brand-color);
  width: 96px;
  transition: fill 0.7s ease-in-out !important;
}
.service-card:hover .icon svg {
  fill: #f8f6f4;
}
.services-ech {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* gap: 1em; */
}
.services-ech.servicesInView .service-card .box {
  transform: translate3d(0, 0%, 0) !important;
  opacity: 1 !important;
}
.services {
  margin: 4em var(--main-margin);
}
.services .heading .titleNotInview {
  transform: translate3d(0, calc(100%), 0);
  opacity: 0;
  transition: opacity 0.8s ease-in-out var(--delay),
    transform 0.6s ease-in-out var(--delay);
}
.services .heading .pretitle.titleNotInview {
  transform: translate3d(0, calc(150%), 0);
  opacity: 0;
}
.services .servicesInView {
  transform: translate3d(0, 0%, 0) !important;
  opacity: 1 !important;
}
.learn-more {
  text-transform: capitalize;
  color: var(--brand-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.service-card .learn-more svg {
  width: 24px;
  /* stroke: var(--brand-color); */
  fill: var(--brand-color);
  margin-left: 0.2em;
}

.service-card .learn-more svg path {
  fill: var(--brand-color);
  /* stroke: var(--brand-color); */
  transition: fill 0.7s ease-in-out !important;
}

.service-card:hover .learn-more svg path {
  fill: #f8f6f4;
  /* stroke: #f8f6f4; */
}
@media (max-width: 850px) {
  .service-card {
    width: calc(50% - 1em);
    margin: 0.5em;
    border-radius: 10px;
  }
}
@media (max-width: 650px) {
  .service-card {
    width: calc(100%);
    margin: 0.5em;
    border-radius: 10px;
    margin: 0.5em 0;
  }
}
